{{#each this}}

	{{#if first}}
		<div id="{{prefix}}-container-fixed" class="{{prefix}} {{prefix}}-{{fixed_layout}} {{prefix}}-{{layout}} social-share">

			<div class="{{prefix}}-item {{prefix}}-total-share">
				<div class="{{prefix}}-counts">
					<span data-element="total-share">
						{{counter}}
					</span>

					{{#if is_fixed_2}}
						<span>Shares</span>
					{{/if}}

				</div>
			</div>
	{{/if}}

	<div class="{{prefix}}-item {{prefix}}-{{item_class}}">
		<a title="Tweet" class="{{prefix}}-{{btn_class}}" rel="nofollow">
			<i class="{{prefix}}-icon-{{item_class}}-{{fixed_layout}} "></i>
		</a>
	</div>

{{/each}}
	<span class="wpusb-toggle"></span>
</div>