{{#each this}}

	{{#if first}}
		<div id="{{prefix}}-container-{{layout}}"
             data-preview-layout="{{layout}}"
			 class="{{prefix}} {{prefix}}-{{layout}} social-share {{prefix}}-preview">

		{{#if title}}
			<div class="{{prefix}}-title">
			 	<span>{{title}}</span>
			 </div>
		 {{/if}}
	{{/if}}

	<div class="{{prefix}}-item {{prefix}}-{{itemClass}}">
		<a class="{{prefix}}-button {{prefix}}-btn" title="{{itemTitle}}"
		   data-item="bg-color">

			<i class="{{prefix}}-icon-{{itemClass}}-{{layout}}"
			   data-item="icons-color"></i>

			{{#if itemInside}}
				<span class="{{prefix}}-title {{prefix}}-btn-inside"
					  data-item="inside">{{itemInside}}</span>
			{{/if}}
		</a>

		{{#if hasCounter}}
			<span class="{{prefix}}-count {{prefix}}-counter"
				  data-item="text">{{counter}}</span>
		{{/if}}
	</div>

{{/each}}
</div>
<button class="button" data-action="no-title"></button>
<button class="button" data-action="no-counter"></button>