{{#each this}}

	{{#if first}}
		<div id="{{prefix}}-container{{container_buttons}}" class="{{prefix}} {{prefix}}-{{layout}} social-share {{prefix}}-preview">
		{{#if title}}
			<div class="{{prefix}}-title">
			 	<span>{{title}}</span>
			 </div>
		 {{/if}}
	{{/if}}

	<div class="{{prefix}}-item {{prefix}}-{{item_class}}">
		<a class="{{prefix}}-button" title="{{item_title}}">
			<i class="{{prefix}}-icon-{{item_class}}-{{layout}}"></i>

			{{#if item_inside}}
				<span class="wpusb-title">{{item_inside}}</span>
			{{/if}}
		</a>

		{{#if has_counter}}
			<span class="{{prefix}}-count wpusb-counter">{{counter}}</span>
		{{/if}}
	</div>

{{/each}}
</div>
<button class="button" data-action="no-title"></button>
<button class="button" data-action="no-counter"></button>