{{#each this}}

	{{#if first}}

		{{#if title}}
			<div class="{{prefix}}-title">
			 	<span>{{title}}</span>
			 </div>
		 {{/if}}

		<div id="{{prefix}}-container-square-plus"
		     data-preview-layout="{{layout}}"
		     class="{{prefix}} {{prefix}}-{{layout}} social-share {{prefix}}-preview">

			<div class="{{prefix}}-item {{prefix}}-counter {{prefix}}-total-share">
				<div class="{{prefix}}-shares-count" data-item="text">{{counter}}</div>

				<div class="{{prefix}}-shares-text"
					 data-element="square-plus-text"
					 data-item="text"
					 data-title="{{shareCountLabel}}"></div>

				<span class="{{prefix}}-pipe" data-pipe="&#x0007C;" data-item="text"></span>
			</div>

			<div class="{{prefix}}-item {{prefix}}-{{itemClass}} {{prefix}}-full {{prefix}}-inside">
				<a href="#" class="{{prefix}}-link {{prefix}}-btn" title="{{itemTitle}}" data-item="bg-color">

					<i class="{{prefix}}-icon-{{itemClass}}-square-plus" data-item="icons-color"></i>

					{{#if inside}}
						<span class="{{prefix}}-title {{prefix}}-btn-inside"
							  data-item="inside"
							  data-title="{{itemName}}"></span>
					{{/if}}
				</a>
			</div>
	{{/if}}

	{{#unless first}}
		<div class="{{prefix}}-item {{prefix}}-{{itemClass}}">
			<a href="#" class="{{prefix}}-link {{prefix}}-btn" title="{{itemTitle}}" data-item="bg-color">
				<i class="{{prefix}}-icon-{{itemClass}}-square-plus" data-item="icons-color"></i>
			</a>
		</div>
	{{/unless}}
{{/each}}
</div>
<button class="button" data-action="no-title"></button>
<button class="button" data-action="no-counter"></button>